In [1]:
print("hello world")

hello world

In [3]:
print("That's my book")

That's my book

In [1]:
# Variables 
name = "John"
age = 23
email = "john23@gmail.com"
print(name)
print(age)
print(email)

John
23
john23@gmail.com

In [2]:
# Reciving Inputs 
name = input("what's your name? ")
age = input("Enter age ")
email = input("Enter email ")
print(name)
print(age)
print(email)

what's your name? Mosh
Enter age 25
Enter email mosh@yahoo.co.in
Mosh
25
mosh@yahoo.co.in

In [6]:
# Type Conversion
#Int Conversion
# Float Conversion

birth_year = input("Enter Birth Year ")
age = 2024 - int(birth_year)
print(age)

Enter Birth Year 1997
27

In [11]:
weight = input("Enter weight in lbs ")
weight_in_kg = float(weight) * 0.45
print(weight_in_kg)

Enter weight in lbs 120
54.0

In [12]:
# Strings
print("python's course for begineer")

python's course for begineer

In [13]:
print('Python for "Beginners"')

Python for "Beginners"

In [14]:
print("*" * 5)

*****

In [16]:
print("Hi" + ' '+  "World")

Hi World

In [23]:
# Indexing 
course = "Python for data analysis"
#         0123456789
project = course[:]
print(course[1])
print(course[-2])
print(course[0:6])
print(project)
print(course[1:-1])

y
i
Python
Python for data analysis
ython for data analysi

In [25]:
# Formatted string f" "
name = "John"
last_name = "Marry"
print(f'{name} [{last_name}] is a coder')

John [Marry] is a coder

In [26]:
# String Methods

In [34]:
course = "Pyhton for everyone"
print(len(course))
print(course.upper()) 
print(course.find('y'))
print(course.replace('everyone', 'beginners'))
print('Pyhton' in course)

19
PYHTON FOR EVERYONE
1
Pyhton for beginners
True

In [35]:
# Arithmetic operators

In [40]:
print(10/3)
print(10//3)
print(10%3)
print(10+3)
print(10-3)
print(10*3)
print(10**3)

3.3333333333333335
3
1
13
7
30
1000

In [38]:
x = 10
x = x + 5
x += 5
print(x)

20

In [39]:
10+ (5-3) * 4

18

In [42]:
x = 10 + 3 *2 ** 2
print(x)

22

In [43]:
# Math Functions

In [47]:
x = 2.9
print(round(x))

y = -2.9
print(abs(y))

3
2.9

In [48]:
# If Statements

In [49]:
is_hot = True

if is_hot:
    print("It's a hot day")
    print("Drink Pleanty of water")
print("Enjoy your day")

It's a hot day
Drink Pleanty of water
Enjoy your day

In [51]:
is_hot = False

if is_hot:
    print("It's a hot day")
    print("")
print("Enjoy your day")

Enjoy your day

In [52]:
is_hot = True
if is_hot:
    print("It's a hot day")
    print("Drink Pleanty of water")
else:
    print("It's a cold day")
    print("Wear warm clothes")
print("Enjoy your day")

It's a hot day
Drink Pleanty of water
Enjoy your day

In [55]:
# If-Elif Statements

is_hot = False
is_cold = True

if is_hot:
    print("It's a hot day")
    print("Drink Pleanty of water")
elif is_cold:
    print("It's a cold day")
    print("Wear warm clothes")
else:
    print("Enjoy your day")

It's a cold day
Wear warm clothes

In [6]:
good_credit = False
amount = 1000

if good_credit:
    down_payment = amount - amount*0.1
else:
    down_payment = amount - amount*0.2
print(f" Down payment = $ {down_payment}")

 Down payment = $ 800.0

In [7]:
# LogicalOperator (AND, OR, NOT)

In [9]:
good_credit = True
high_income = False

if good_credit and high_income :
    print("Eligible for loan")
else:
    print("Not Eligible for loan")

Not Eligible for loan

In [10]:
good_credit = True
high_income = False

if good_credit or high_income :
    print("Eligible for loan")
else:
    print("Not eligible for loan")

Eligible for loan

In [13]:
good_credit = True
criminal_record = True

if good_credit and not criminal_record :
    print("Eligible")
else :
    print("Not Eligible")

Not Eligible

In [14]:
# Comparission Operator(>, <, >=, <=, ==, <>)

In [16]:
tempr = 50
if tempr > 40 :
    print(f"It's a hot day")
    if tempr <10:
        print(f"It's a cold day")
else:
    print(f"It's a lovely day")

It's a hot day

In [18]:
name = 'John'
if len(name) < 3:
    print("must be atleast 3 letters")
elif len(name) > 50:
    print("must be less than 50 letters")
else:
    print("Lovely name")

Lovely name

In [24]:
weight = int(input("your weight?"))
unit = input("(L)bs or (K)g : ")

if unit.upper() == "L":
    weight_kg = weight* 0.45
    print(f"Your weight is {weight_kg} kg")
elif unit.upper() == "K":
    weight_lbs = round(weight//0.45)
    print(f"Your weight is {weight_lbs} lbs")
else:
    print("Mention your weight correctly")

your weight?70
(L)bs or (K)g : k
Your weight is 155 lbs

In [1]:
# While Loop

In [4]:
i = 1
while i <= 5 :
    print(i)
    i = i+1
print("Done")

1
2
3
4
5
Done

In [4]:
guess_cnt = 0
guess_limit = 3
while guess_cnt < guess_limit:
    guess_cnt = guess_cnt + 1
    guess_num = int(input("Guess : "))
    if guess_num == 9 :
        print("you won!")
        break
else:
    print("Sorry, you lost")

Guess : 9
you won!

In [2]:
command = ""
car_started = False
while True :
    command = input("> ").lower()
    if command == "start":
        if car_started:
            print("Car already started..")
        else :
            car_started = True
            print("Car Started")
    elif command == "stop":
        if not car_started :
            print("Car already stopped.")
        else:
            car_started = False
            print("Car Stopped.")
    elif command == "help":
        print('''
start - To start the car
stop - To stop the car
quit - quit
        ''')
    elif command == "quit":
        print("Quit")
        break
    else :
        print("I don't Understand")

> start
Car Started
> start
Car already started..
> stop
Car Stopped.
> stop
Car already stopped.
> quit
Quit

In [6]:
# Lists [] - muteabe (we can change or modify the values inside the lists)
price = [10, 12, 15]
names = ["John", "Mosh", "Riddi"]
name_price = ["John",10, "Mosh", 20, "Rihan", 30]

In [7]:
# range
range(10), range(0, 20), range(1, 50, 3)

(range(0, 10), range(0, 20), range(1, 50, 3))

In [10]:
prices = [10,50,80]
total = 0
for price in prices:
    total = total + price
    print(total)
print(f'your total is {total}')

10
60
140
your total is 140

In [11]:
# Nested Loops

In [12]:
for x in range(4):
    for y in range(3):
        print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

In [23]:
number = [5, 2, 5, 2, 2]
for num_cnt in number:
    output = ''
    for cnt in range(num_cnt):
        output = output + 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

In [24]:
number = [1, 1, 1, 1, 5]
for num_cnt in number:
    output = ''
    for cnt in range(num_cnt):
        output = output + 'x'
    print(output)

x
x
x
x
xxxxx

In [25]:
# List Inexing

In [30]:
names = ["John", "Mosh", "Mary", "Sarah", "Bob"]
print(names)
print(names[0])
print(names[-1])
print(names[0:-1])
print(names[2:4])
print(names[: 5])
print(names[2:])
print(names[:])
names[0] = "John Marry"
print(names)

['John', 'Mosh', 'Mary', 'Sarah', 'Bob']
John
Bob
['John', 'Mosh', 'Mary', 'Sarah']
['Mary', 'Sarah']
['John', 'Mosh', 'Mary', 'Sarah', 'Bob']
['Mary', 'Sarah', 'Bob']
['John', 'Mosh', 'Mary', 'Sarah', 'Bob']
['John Marry', 'Mosh', 'Mary', 'Sarah', 'Bob']

In [34]:
numbers = [10, 250, 80, 120]
print(max(numbers))
print(min(numbers))
print(sum(numbers))

250
10
460

In [36]:
numbers = [20, 55, 30, 12, 8, 6]
max_num = numbers[0]
for num in numbers :
    if num > max_num:
        max_num = num
print(max_num)

55

In [38]:
# 2D matrix

In [4]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix[0])
print(matrix[1])
print(matrix[2])
print(matrix[0] [1])
print(matrix[1] [1])
print(matrix[2] [1])
for rows in matrix:
    for row in rows:
        print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
2
5
8
1
2
3
4
5
6
7
8
9

In [5]:
# list Methods 
# append - to insert last value in list
# insert - to insert value in req index position
# remove - to remove value from list
# clear - to clear all values
# pop - to delete the last value in a list
# index - to know the position of values
# in - to check the values that in the list
# count - to count the number of repeting values in a list
# sort - to sort the lilst in asc
# reverse - to sort the list in desc
# copy - to copy the list

In [17]:
numbers = [1, 3, 5, 8, 12, 5]
numbers.append(20)
numbers.insert(0, 9)
numbers.remove(1)
numbers.pop()
numbers.count(5)
print(numbers)

[9, 3, 5, 8, 12, 5]

In [21]:
# write a programm to remove duplicates in a list
numbers = [10,5,12,5,20,3,6,12,10]
uniques = []
for num in numbers:
    if num not in uniques:
        uniques.append(num)
print(uniques)

[10, 5, 12, 20, 3, 6]

In [22]:
# Tuples - Immuteable (we cannot change or modify the values inside the tuples)

In [28]:
numbers = (1, 5, 9, 15, 15)
print(numbers[1])
numbers.count(15)

5

2

In [29]:
# Unpacking

In [31]:
numbers = (1,2,3)
x, y, z = numbers
print(x)
print(z)

1

In [33]:
coordinates = [20,50,80]
x, y, z = coordinates
print(z)

80

In [34]:
#Dictonaries

In [54]:
customers = {
    "name" : "John Smith",
    "age" : 40,
    "is_verified" : True
}
print(customers)
print(customers["name"])
print(customers.get("age"))
#print(customers["birth_date"])
print(customers.get("birth_date"))
print(customers.get("birth_date"))
print(customers.get("birth_date", "Jan 29 1995"))
customers["name"] = "Jack Smith"
print(customers["name"])

{'name': 'John Smith', 'age': 40, 'is_verified': True}
John Smith
40
None
None
Jan 29 1995
Jack Smith

In [61]:
phone = input("Phone: ")
num_text = {
    "1": "One",
    "2": "Two",
    "3" : "Three",
    "4" : "Four",
    "5" : "Five",
    "6" : "Six",
    "7" : "Seven",
    "8" : "Eight",
    "9" : "Nine",
    "0" : "Zero"
}
output = ""
for phn in phone:
    output = output + num_text.get(phn) + " "
print(output)

Phone: 123
One Two Three

In [63]:
# Functions